<section class="py-16">
  <div class="wrapper | grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <h1 class="text-4xl font-bold">Login</h1>

      <form action="/sessions" method="post" class="py-8 rounded-lg">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>"
        />
        <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            name="user[email]"
            value="<%= @user ? @user.email : '' %>"
            class="form-field"
          />
        </div>

        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="user[password]"
            class="form-field"
          />
        </div>

        <p id="notice" class="text-red-400 mb-4"><%= notice %></p>

        <input type="submit" value="Sign In" class="yellow-button" />
        <p class="mt-4">
          Don't have an account yet?
          <%= link_to 'Sign up here.', signup_path, class: 'text-yellow-300' %>
        </p>
      </form>
    </div>
    <div>
      <div
        class="bg-neutral-200/80 grid place-items-center rounded-md min-h-[250px]"
      >
        <p class="text-neutral-800">placeholder</p>
      </div>
    </div>
  </div>
</section>
