<section class="py-16">
  <div class="wrapper | grid grid-cols-1 md:grid-cols-2">
    <div class="grid gap-4">
      <h1 class="text-4xl font-bold">
        Buy, Trade, and Hold Millions <br />
        of Fake Stocks, Hopes, and Dreams
      </h1>
      <p class="mt-4">A project by Robert & Last</p>
      <%=
        link_to 'Sign Up',
                signup_path,
                class:
                  'yellow-button | inline-block max-w-[500px] text-center font-semibold'
      %>
    </div>
    <div class="bg-neutral-200/80 grid place-items-center rounded-md">
      <p class="text-neutral-800">placeholder</p>
    </div>
  </div>
</section>
