<section>
  <div
    class="wrapper | min-h-[75vh] flex flex-col items-center justify-center gap-8"
  >
    <span class="text-8xl">&#128053;</span>
    <p
      class="relative before:content-['!'] before:absolute before:block before:text-8xl before:font-serif before:right-0 before:bottom-[-150%] before:rotate-12 before:opacity-10 before:text-yellow-400"
    >
      You will be notified through email once your account is approved.
    </p>
  </div>
</section>
