@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer base {
  a:not([class*="button"]) {
    @apply hover:text-yellow-400;
  }
}

@layer components {
  .yellow-button {
    @apply bg-yellow-400 hover:bg-yellow-500 text-neutral-900 py-2 px-4 rounded cursor-pointer;
  }

  .gray-label-button {
    @apply px-4 py-2 hover:bg-neutral-400/10 rounded-md cursor-pointer opacity-70;
  }

  .market-list-card {
    @apply grow px-4 py-6 hover:bg-neutral-400/10 rounded-xl;
  }
  .market-list-card > p {
    @apply text-xs opacity-60 mx-2 mb-4;
  }
  .market-list-card > ul {
    @apply text-sm;
  }
  .market-list-card :where(ul button) {
    @apply grid grid-cols-[24px_1fr_1fr_1fr] items-center gap-2 hover:bg-neutral-700 hover:text-neutral-100 p-2 rounded-xl w-full;
  }
}

@layer utilities {
  .wrapper {
    --max-width: 1200px;
    --padding: 2rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
  }

  .form-label {
    @apply block font-bold mb-2;
  }
  .form-field {
    @apply px-3 py-2 border-black/10 dark:border-white/10 dark:bg-neutral-800/80 rounded-md w-full;
  }

  .stock-list-selector, .users-list-selector {
    @apply hidden;
  }

  .table-header {
    @apply text-sm opacity-60 font-normal;
  }

  .trans-table :where(td, th) {
    padding: 1rem;
  }
}

#owned-radio:checked ~ #owned-label,
#hot-radio:checked ~ #hot-label,
#pending-radio:checked ~ #pending-label,
#approved-radio:checked ~ #approved-label {
  @apply text-yellow-400 bg-yellow-200/10;
}
#hot-stocks,
#owned-stocks,
#pending-users,
#approved-users {
  display: none;
}
.wrapper:has(#owned-radio:checked) #owned-stocks,
.wrapper:has(#hot-radio:checked) #hot-stocks,
.wrapper:has(#pending-radio:checked) #pending-users,
.wrapper:has(#approved-radio:checked) #approved-users {
  display: block;
}